@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

/* CSS LOGO */

.header{
    width: 100%;
    height: auto;
    background-color:rgb(210, 208, 208) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 120px;
    padding: 15px;}
    /* font-family: "Josefin Sans", sans-serif; */


.navbar{
    display: flex;
    list-style: none;
    margin: 0;

}
            .navbar li a{
                text-decoration: none;
                color: black;
                font-weight: bolder;
                font-size: 100%;
                padding-left: 10px;
                padding-right: 10px;}

.main-class{
    height: 100%;
    width: 100%;
}
    /* LEMA */

.lema{
    color: rgba(10, 99, 10, 0.938);
    background-color: rgb(246, 183, 101);
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder ;
    font-style: italic;
    text-align: center;
    height: 40%;}
.header-lema{

    font-size: 150%;}

    /*SECCION MAS VENDIDOS*/
.article-masvendidos{
    width: 100%;
    height: 5rem;
    background-color: rgb(246, 183, 101);
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    align-items: center;}   
.div-masvendidosimg {
    display: flex;
    position: relative;}
.loco1{
    height: 60px;
}
.masvendidos-h1 {
    font-size: 30px;
    text-align: center;
    color: rgba(10, 99, 10, 0.938);
    display: flex;
    align-items: center ;
    padding: 15px;}


/*empieza la seccion mas vendidos*/

.section-masvendidos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    text-align: center;
    grid-template-areas: 
    "div-amarok div-tracker div-208"

    ;}
.section-masvendidos{
    height: auto;
    background-color: rgb(236, 210, 169);
    border-top-style: inset ;
    border-width: thick;
}

    .section-masvendidos p{
    display: inline-block;
    color: black;
    font-weight: bolder;
    
    }
    .oferta{
        color: white;}
    .img-masvendidos{
        border: 10px double rgb(112, 110, 110);
        width: auto;
    }
    .cuotas{
        position: relative;
        right: 30px;
    }
    .pactada{
        position: relative;
        left: 30px;
    }

/*barra de oportunidades*/
.section-oportunidades{
    width: 100%;
    height: 5rem;
    padding-top: 7px;
    justify-content: center;
    display: flex;
    background-color: rgb(246, 183, 101);
    margin-top: 1.875rem;
    align-items: center;
    font-size: 130%;
    font-weight: bolder;
    color: rgba(10, 99, 10, 0.938);
    gap: 1.875rem;}     

/* empiezan las 4 img */


.grid-oportunidades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 50px;
    text-align: center;
    grid-template-areas: 
    "div-polo div-duster"
    "div-corolla div-alaskan";
    }


.img-auto{
    width: 400px;
}

    /*QUIENES SOMOS*/
.main-qsomos{
    height: 100vh;
    background-image: url(https://plus.unsplash.com/premium_photo-1661290409901-c1408d58b661?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(210, 208, 208);
}
.section-qsomos{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-wrap: nowrap;}


    .img-qsomos{
        background-size: contain;
    }

    .section-qsomos .qsomos-p1{
    grid-column: 1;
    grid-row: 1;
    padding: 1px;
    padding-top: 70px}
    .section-qsomos .qsomos-p2{
    grid-column: 2 / 2;
    grid-row: 2 /2;
    padding: 1px;
    padding-top: 70px}
    .section-qsomos .qsomos-p3{
    grid-column: 1;
    grid-row: 3;
    padding: 1px;
    padding-top: 70px;}
    
    .section-qsomos p{ 
        color: rgb(0, 0, 1);
        font-weight: bolder;
        font-family: "Josefin Sans"; 
        font-style: italic; 
        font-size: 1.25rem;
        text-align: center;}

    /*MARCAS Y MODELOS*/

.section-buscador{
    background-color: rgba(165, 166, 173, 0.954);
    color: black;
    height: 35px;
    display: flex;
    justify-content: right;
    padding-top: 5px;} 
.section-marcasymodelos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;} 
.div-buscador input{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px 2px 2% 2%;}

    .div-mym h2{
        color: rgb(30, 23, 23); 
        font-weight: bolder;
        background-color: rgba(165, 166, 173, 0.954);    
        font-family: "Josefin Sans"; 
        font-style: italic; 
        width: 80%;
        font-size: 400%;
        padding-top: 50px;
        padding-left: 20px;}
        .div-mym img{
            width: 20%;} 
.lupa-marcasymodelos{
    height: 15px;}   
.div-vw{
    display: flex;
    border: 2px double  black;}  
.div-peugeot{
    display: flex;
    margin-top: 30px;
    border: 2px double  black;}  
.div-renault{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px double  black;}  
.div-fiat{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px double  black;}  
.div-chevrolet{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px double  black;}  
.div-ford{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px double  black;}                       

/*vende tu auto*/

.titulo-vtuauto{
    font-weight: bolder;
    color: rgba(10, 99, 10, 0.938);
    background-color: rgb(246, 183, 101);
    width: 100%;
    height: 180px;}
    .h2-vtuauto{
        text-align: center;
        font-size: 40px;
        height: 120px;
        align-items: center;}
    .año-marca{
        display: flex;
        justify-content: space-around;
        font-family: "Josefin Sans", sans-serif;}

.boton-cotiza{
    text-align: center;}
    
.section-vendetuauto{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-around;
    }
    .div-cotiza{
        justify-content: left;
        padding-left: 50px;}
        .cotiza-h{
            text-align: left;
            color: red;
            font-weight: bolder;
            font-size:30px;
            margin-top: 10px;
            margin-bottom: 10px;}
        .cotiza-p{
            text-align: left;
            color: black;
            font-weight: bolder;
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 10px;}
    .div-inspeccion{
            justify-content: center;
        padding-left: 30px;}   
        .inspeccion-img{
            text-align: center;
            width: 320px;}
        .inspeccion-h{
            text-align: left;
            color: red;
            font-weight: bolder;
            font-size:30px;
            margin-top: 10px;
            margin-bottom: 10px;}
        .inspeccion-p{
            text-align: left;
            color: black;
            font-weight: bolder;
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 10px;}   
    .div-pago{
        justify-content: right;
        margin-right: 30px;}
        .pago-img{
            text-align: right;}
        .pago-h{
            text-align: left;
            color: red;
            font-weight: bolder;
            font-size:30px;
            margin-top: 10px;
            margin-bottom: 10px;}  
        .pago-p{
                text-align: left;
                color: black;
                font-weight: bolder;                font-size: 15px;
                margin-top: 10px;
                margin-bottom: 10px;}                                                                                                                                                     



        /*Contactanos*/   
.main-contactanos{
    width: 100%;
    height: auto;
    background-color: white;}
.div-contactanos{
    width: 100%;
    background-color: rgb(246, 183, 101);
    padding: 2px;}
    .contactanos-titulo h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    color: rgba(10, 99, 10, 0.938);
    font-size: 50px;
    flex-wrap: nowrap;}

.formulario {
    list-style-type: none;
    font-weight: bolder;
    color: rgba(10, 99, 10, 0.938);
    font-size: 15px;
    padding: 20px;}
    .formulario li input{
    border: 2px solid black;
    width: 100%;
    height: 30px;
    }
    .button-contactanos{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;}
    button{
        background-color: white;}


/*FOOTER*/
.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: black;
    list-style: none;
    background-color: rgb(210, 208, 208);
    flex-wrap: nowrap;
    font-size: 70%;
    padding: 30px 100px 30px 100px;

}   
.img-footer{
    width: 50px;
}
.datos-footer{
    font-size: 15px;
}

@media (max-width: 1024px){
.oportunidades{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    flex-direction: column;
} 
.section-masvendidos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    text-align: center;
    grid-template-areas: 
    "div-amarok div-tracker"
;}
.div-208{
    
}
.masvendidos-h1 {
    font-size: 25px;
    padding-top: 7px;
}
.loco1{
    height: 45px;
}
.grid-oportunidades{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 50px;
    text-align: center;
    grid-template-areas: 
    "div-polo"
    "div-duster"
    "div-corolla "
    "div-alaskan";
    }    

}
@media (max-width: 780px){
    .contactanos-titulo h1{
        font-size: 25px;
    }
}

@media (max-width: 750px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
                    }

    .navbar {
        justify-content: center;
        }
}

    @media (max-width: 675px){
        .oportunidades{
            display: flex;
            flex-wrap: nowrap;
            text-align: center;
            align-items: center;
            flex-direction: column;
        } 
        .section-masvendidos{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            text-align: center;
            grid-template-areas: 
            "div-amarok"
            "div-tracker"
            "div-208"
        ;}
        .img-auto{
            width: 250px;
        }

        .footer{
            padding:10px ;
            display: flex;
            justify-content: space-around;
        }
        .div-masvendidosimg{
            gap: 0;
        }
        .loco1{
            height: 30px;
        }
        .masvendidos-h1 {
            font-size: 20px;
            padding-top: 5px;
        }
}

@media (max-width: 550px){
    .navbar{
        flex-direction: column;
        padding-bottom: 1rem;
        gap: .3125rem;
        align-items: center;
    }
    .img-footer{
        width: 25px;
    }
}